<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <style>
            table {border-collapse: collapse;}
            tr {border:  1px black solid;}
            td {padding: 10px;}
            span {display: inline-block; vertical-align: middle;}
        </style>
    </head>

    <body>
        <h1>File succesfully uploaded</h1>
        <table>
            <tr>
                <td><p>Designer: <b>{{formData[1]}}</b></p></td>
                <td><p>Title Design: <b>{{formData[0]}}</b></p></td>
                <td><p>Description: <b>{{formData[2]}}</b></p></td>
            </tr>
            <tr>
            {% if level == 'highest' %}
                <td><p>File name: <b>{{list.name}}</b></p></td>
                <td><p>Children: <b>{{list.children}}</b></p></td>
                <td>{{list.svg | safe}}</td>
            {% if list.children != []%}
                <td>
                    <form action="/splitFurther?children={{list.children}}&current={{list.name}}" method="post">
                        <button name="split" type="submit">Verder uitsplitsen</button>
                    </form>
                </td>
            {% else %}
                <td><b>Laagste niveau!</b></td>
            {% endif %}
            </tr>
            {% else %}
            <!-- ORIGINAL LIST -->
            {% if original %}
            {% for item in original %}
            <tr>
                <td><p>ORIGINAL!!!! File name: <b>{{item.name}}</b></p></td>
                <td><p>Children: <b>{{item.children}}</b></p></td>
                <td><span style="border: 1px grey dotted;">{{item.svg | safe}}</span></td>
            {% if item.children != []%}
                <td>
                    <form action="/splitFurther?children={{item.children}}&current={{item.name}}" method="post">
                        <button name="split" type="submit">Verder uitsplitsen</button>
                    </form>
                </td>
            {% else %}
                <td><b>Laagste niveau!</b></td>
            {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <!-- END NOTE -->
            {% for item in list %}
            <tr>
                <td><p>File name: <b>{{item.name}}</b></p></td>
                <td><p>Children: <b>{{item.children}}</b></p></td>
                <td><span style="border: 1px grey dotted;">{{item.svg | safe}}</span></td>
            {% if item.children != []%}
                <td>
                    <form action="/splitFurther?children={{item.children}}&current={{item.name}}" method="post">
                        <button name="split" type="submit">Verder uitsplitsen</button>
                    </form>
                </td>
            {% else %}
                <td><b>Laagste niveau!</b></td>
            {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            {% endif %}
        </table>
        <form action="/addComments" method="post">
            <button name="comment" type="submit">Voeg informatie toe</button>
        </form>
    </body>
</html>